---
const { pregunta } = Astro.props;
---

<div class="bg-white shadow-md rounded-md p-4">
  <h3 class="text-lg font-bold text-gray-700">{pregunta.pregunta}</h3>
  <p class="text-gray-600">{pregunta.respuesta}</p>
  
</div>
