<footer class="bg-gray-800 text-white py-12 w-full bottom-0">
    <div class="container mx-auto px-4 md:px-8">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        
        <section>
          <h4 class="text-lg font-semibold mb-4">Sobre Nosotros</h4>
          <p>Empresa líder en Chile en la instalación de motores eléctricos para portones. Con más de 10 años de experiencia, brindamos soluciones efectivas y de calidad a nuestros clientes.</p>
        </section>
  
        <section>
          <h4 class="text-lg font-semibold mb-4">Enlaces Rápidos</h4>
          <ul class="space-y-2">
            <li><a href="#inicio" class="hover:underline">Inicio</a></li>
            <li><a href="#productos" class="hover:underline">Productos</a></li>
            <li><a href="#contacto" class="hover:underline">Contacto</a></li>
          </ul>
        </section>
  
        <section>
          <h4 class="text-lg font-semibold mb-4">Contacto</h4>
          
          <p>Email: contacto@tuempresa.cl</p>
          <p>Teléfono: +56 9 8810 0833</p>
          <p>Viña del Mar, Calama</p>
        </section>

        <section>
            <a class="py-4 px-8 font-bold  text-green-500 text-xl border-green-700 border-2 text-center rounded-full hover:text-white hover:border-white">WhatsApp</a>
        </section>
  
  
      </div>
  
      <div class="mt-8 border-t border-gray-600 pt-8 text-center">
        <p>&copy; 2023 ConstruSer. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>